// Typography
@mixin heading-typography($size) {
  font-family: "Fraunces", serif;
  font-weight: 600;
  font-size: 50px;
  @if $size == large {
    font-size: 80px;
  } @else if $size == medium {
    font-size: 60px;
    line-height: 1.142;
  } @else if $size == small {
    font-size: 32px;
    line-height: 1.25;
  }
}

@mixin body-typography {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 1.77;
}

// Buttons



// Media Query
@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 700px) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}




