/* Imports Import */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,600;1,9..144,600&family=Manrope&display=swap');
@import 'variables';
@import 'mixins';

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* PROJECT START / GLOBAL CONFIG */
body {
  min-height: 100vh;
}

// HEADER CODE

.header-bg {
  background: $primary-color;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 343px;
  padding-top: 32px;
  margin: 0 auto;
  @include device(tablet) {
    max-width: 689px;
  }
  @include device(desktop) {
    max-width: 1110px;
    padding-top: 56px;
  }
}

.header .cta {
  display: inline-block;
  color: $neutral-color-1;
  font-family: $font-2;
  font-weight: 600;
  line-height: 2;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: $secondary-color;
  }
}

// INTRO (FIRST SECTION) CODE

.intro {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px 16px 138px 16px;
  
  @include device(tablet) {
    padding: 64px 16px 138px 16px;
    background-image: url(../assets/images/bg-pattern-1.svg), url(../assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top 0 left -225px, bottom 75px right -95px;
  }
  @include device(desktop) {
    padding: 64px 16px 225px 16px;
    background-position: top 0 left -135px, bottom 200px right -50px;
  }
}

.intro__title {
  font-size: 50px;
  font-family: $font-1;
  color: $neutral-color-1;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1;
   span {
    text-decoration: underline 3px solid $secondary-color;
    text-underline-offset: 0.5rem;
     }
   @include device(tablet) {
    @include heading-typography(medium);
    max-width: 500px;
  }
  @include device(desktop) {
    @include heading-typography(large);
  }
}


.intro__cta {
  display: inline-block;
  color: $primary-color;
  background-color: $secondary-color;
  font-family: $font-2;
  line-height: 2;
  font-weight: 600;
  padding: 12px 24px;
  &:hover {
    background-color: $primary-color;
    border: 1px solid $secondary-color;
    color: $secondary-color;
  }
}

.intro__img {
  max-width: 320px;
  position: absolute;
  bottom: -110px;
  z-index: 1;
  @include device(tablet) {
    max-width: 514px;
    bottom: -211px;
  }
  @include device(desktop) {
    max-width: 767px;
    bottom: -266px;
  }
}

.curve {
 border: none;
 width: 100%;
 aspect-ratio: 20/1;
 clip-path: ellipse(55% 100% at top);
 position: absolute;
}

.top {
  background-color: $primary-color;
}

// FEATURES LIST (SECOND SECTION) CODE


.list-bg {
  background-color: $neutral-color-2;
}

.container__list {
  padding-top: 155px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 343px;
  margin: 0 auto; 
  gap: 40px;
  @include device(tablet) {
    padding-top: 241px;
    max-width: 573px;
  }
  @include device(desktop) {
    padding-top: 356px;
    max-width: 1114px;
    flex-direction: row;
  }
}

.list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include device(tablet) {
   flex-direction: row;
   gap: 32px;
  }
  @include device(desktop) {
    flex-direction: column;
    gap: 56px;
  }
    span {
    line-height: 1.8;
    border: 1px solid $tertiary-color;
    border-radius: 50%;
    padding: 4px;
    font-family: $font-1;
    font-size: 20px;
    min-width: 48px; 
    margin-bottom: 24px;
      @include device(tablet) {
        margin: initial;
      }
      @include device(desktop) {
        width: 56px;
        padding: 9px;
      }
    }
}

.list__content {
  @include device(tablet) {
    text-align: left;
  }
  @include device(desktop) {
    text-align: center;
  }
}


.list__title {
  font-family: $font-1;
  font-size: 28px;
  line-height: 1.285;
  color: $primary-color;
  margin-bottom: 16px;
  @include device(tablet) {

  }
  @include device(desktop) {
    font-size: 32px;
    margin-bottom: 28px;
  }
}

.list__text {
  color: $tertiary-color;
  font-family: $font-2;
  line-height: 1.75;
  @include device(tablet) {

  }
  @include device(desktop) {
    font-size: 18px;
  }
}

.bottom {
  background-color: $neutral-color-2;
}

// AUTHOR INFO (THIRD SECTION) CODE

.founder__bg {
  margin-top: 346px;
}
.founder__container {
  margin-bottom: 74px;
  padding: 0 16px;
  position: relative;
  @include device(tablet) {
    max-width: 689px;
    margin-left: auto;
    margin-right: auto;
    padding: initial;
  }
  @include device(desktop) {
    max-width: 1112px;
  }
}

.founder__img {
  position: absolute;
  z-index: -1;
  top: -228px;
  max-width: 281px;
  left: 50%;
  transform: translateX(-50%);
  @include device(tablet) {
    top: -152px;
    left: 143px;
  }
  @include device(desktop) {
    max-width: 477px;
    top: -175px;
    left: 240px;
  }
}

.founder__content {
  background-color: $primary-color;
  text-align: center;
  color: $neutral-color-1;
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include device (tablet) {
    padding: 48px 56px 56px 56px;
    max-width: 514px;
    margin-left: auto;
    align-items: flex-start;
    &::after {
      content: url(../assets/images/bg-pattern-3.svg);
      position: absolute;
      bottom: -100px;
      right: 0px;
    }
  }
  @include device(desktop) {
    max-width: 730px;
  }
}

.founder__title {
  @include heading-typography(small);
  margin-bottom: 16px;
  @include device (tablet) {
    font-size: 48px;
  }
  @include device(desktop) {
    font-size: 56px;
  }
}

.founder__text {
  line-height: 1.75;
  font-family: $font-2;
  margin-bottom: 24px;
  @include device(tablet) {
    text-align: left
  } 
  @include device(desktop) {
    @include body-typography;
  }
}

.founder__cta {
  display: inline-block;
  color: #24053E;
  background-color: #44FFA1;
  font-family: "Manrope", sans-serif;
  line-height: 2;
  font-weight: 600;
  padding: 12px 24px;
  &:hover {
    background-color: $primary-color;
    border: 1px solid $secondary-color;
    color: $secondary-color;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  padding-bottom: 63px;;
}

.footer__social {
  display: flex;
  gap: 28px;
}