// Colors
$primary-color: #24053E;
$secondary-color: #44FFA1;
$tertiary-color: #584D62;
$neutral-color-1: #FFFFFF;
$neutral-color-2: #FCF8FF;

// Typography
$font-1: "Fraunces", serif;
$font-2: "Manrope", sans-serif;




